/* Created by: Savyon
 * Modified by: Savyon
 * Created on: March 2023
 * This CSS file defines the style for index.php
 * ICS2O-Unit2-03-PHP-UserInput
*/

form {
  background-color: #d5f2fe;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
}

h1 { 
  background-color: #4bec91;
  text-align: center;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
}

h3 {
  background-color: #e147a6;
  text-align: center;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
}

p {
  background-color: crimson;
  width: 80%;
  margin-left: 10%;
}

iframe {
  margin-bottom: 5%;
  background-color: #e41131;
	padding: 20px;
  width: 80%;
  margin-left: 10%;
	margin-top: 15px;
}

#yellow {
  background-color: #6a57f4;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 30px;
}
